$main-color: #fff;
$second-color: #000;
$main-color-foot: #b8b8b8;
$btn-link-color: #fff;
$btn-link-color-hover: #cb80ce;
$bg-gradient-uni: #859bff;
$bg-gradient-old: -webkit-linear-gradient(to right, rgba(133, 155, 255, 0.6), rgba(69, 43, 95, 0.6));
$bg-gradient-new: linear-gradient(to right, rgba(133, 155, 255, 0.6), rgba(69, 43, 95, 0.6));
$bg-gradient-full-old: -webkit-linear-gradient(to right, rgba(133, 155, 255), rgba(69, 43, 95));
$bg-gradient-full-new: linear-gradient(to right, rgba(133, 155, 255), rgba(69, 43, 95));