*{
    padding: 0;
    border: 0;
    margin: 0;
}
.topics-container-nav{
    margin-top: 25px;
    font-size: 10px;
    color: $main-color-foot;
}
.categories-container-nav{
    margin-top: 25px;
    font-size: 10px;
    color: $main-color-foot;
}